.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.navbar
        {
            border-bottom:1px solid rgba(231, 229, 229, 0.171);
        } 

.userPhoto {
        border-radius:  50%;
}

/* .test {
  border-bottom:1px solid rgb(189, 182, 182);
  margin-top: 1px;
} */
.ss {
  width: 50px;
  
}
.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}

.navbarColor {
  background-color: rgba(248, 246, 244, 0.959);
}
.pp {
  background-color: rgba(248, 246, 244, 0.534);
}
.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}
.fv {
  margin-top: 5rem!important;
  justify-content: center;
}
.fvv {
  margin-top: 5rem!important;
  justify-content: center;
  width: 200px;
}
.dropdown-menu {
  left: -90px;
  top: 44px;
}
input{
  outline: 0;
  border-width: 0 0 1px;
  border-color: rgb(10, 10, 10)
}

input:focus {
  border-color: rgb(95, 13, 228)
}

.buttonMargin {
  margin-left: 70px;
}
.fill { 
  min-height: 100vh;
  height: 100vh;
  flex-grow: 1;
 
}


@media only screen and (max-width: 575px) {
  .fill {
    min-height: 4vh;
    height: 4vh;
    
  }
}

fieldset.scheduler-border {
  border: solid 1px #DDD !important;
  padding: 0 10px 10px 10px;
  border-bottom: none;
}

legend.scheduler-border {
  width: auto !important;
  border: none;
  font-size: 14px;
  margin-top: -10px;
  position: absolute;
  padding: 0px 5px;
  background: #fff none repeat scroll 0 0;
}

.foncik {
  font-family: "Times New Roman", Times, serif;
  
}

.file {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  position: absolute;
}

.file-input label {
  display: block;
  position: relative;
  width: 200px;
  height: 50px;
  border-radius: 25px;
  background: linear-gradient(40deg, #ff6ec4, #7873f5);
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: transform .2s ease-out;
}
.margin {
  margin-left: 0!important;
}
.to {
  padding-left: 0px;
    padding-right: 0px;
}

.p1 {
  font-family: "Times New Roman", Times, serif;
}

.tox-statusbar{
  visibility: hidden;
}

.question-box {
  background: #fff;
  border-radius: 9px;
  box-shadow: 5px 5px 5px 5px rgb(187, 185, 185);
  padding: 10px;
  width: 60%;
  margin-top: 2;
  float: left;
  
  transform: translate(33%, -0%);
 
}

.question-box h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
  margin-top: 3%;
  margin-left: 3%;
}
hr {
  color: rgb(216, 215, 215);
  border-bottom: 0px;
}
.question-box p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
  margin-top: 0px;
  margin-left: 3%;
}
.option-list {
  margin-left: 3%;
}
